body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.top-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  height: 80px;
}

.Vgradient {
  background: linear-gradient(135deg, #000000 50%, #45258f 100%);
}

.top-text {
  color: white;
  font-weight: bold;
  text-align: flex-end;
}

.link {
  transition:
    background-color 1s ease,
    transform 0.5s ease;
}

.link:hover {
  background: linear-gradient(90deg, #b5179e, #7209b7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(-4px);
}

.nav-bar {
  display: flex;
  /* enable flex layout */
  justify-content: flex-start;
  /* push items to the left horizontally */
  align-items: flex-end;
  /* vertically center items */
  height: 100%;
  /* or whatever height you want */
  flex-grow: 1;
  /* take up remaining space */
  gap: 32px;
  /* space between each child */
  padding: 0 40px;
  /* space from left & right edges */
}

.gradient-text {
  background: linear-gradient(90deg, #b5179e, #7209b7);
  /* left-to-right gradient */
  background-clip: text;
  -webkit-background-clip: text;
  /* clip background to text */
  -webkit-text-fill-color: transparent;
  /* make text itself transparent */
}

.gradient-border-bottom {
  border-bottom: 4px solid;
  /* border width */
  border-image: linear-gradient(135deg, #b5179e, #45258f) 1;
}

.gradient-border {
  border: 2px solid;
  /* border width */
  border-image: linear-gradient(135deg, #b5179e, #45258f) 1;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-template-rows: repeat(5, 1fr);
  padding: 20px;
  height: 90vh;
}

.content-card {
  background-color: #141414;
  border: 2px solid #850872;
  border-radius: 8px;
  padding: 20px;
  text-align: left;
}

.main {
  grid-column: 2 / 4;
  grid-row: 1 / 6;
}

.left {
  text-align: left;
  grid-column: 1 / 2;
  grid-row: 1 / 6;
}

.right {
  grid-column: 4 / 4;
  grid-row: 1 / 6;
}
